.flex {
    display: flex;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.tv {
    margin-right: 1rem;
}
.logo {
    display: flex;
}
.logo h1 {
    padding-top: 5px;
}
.profile {
    display: flex;
    margin-left: 10px;
}

.entry {
    text-align: center;
}
.entry h1 {
    font-size: 48px;
    padding: 40px 0;
}
.entry h3 {
    font-size: 24px;
    padding: 40px 0;
}
